.details {
  //display: grid;
  border-style: solid;
  margin-right: 800px;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  align-items: center;
  padding-left: 200px;
  background-color: azure;
}
