#top-bar {
  border-style: solid;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
button {
  background-color: aqua;
  margin-top: 30px;
  margin-left: 250px;
  box-sizing: border-box;
}
