.newclass {
  display: grid;
  grid-template-columns: auto;
  border-style: solid;
  margin-right: 1000px;
  margin-left: 50px;
  background-color: rgb(157, 245, 201);
}
h3 {
  text-align: center;
  color: blue;
}
