.contact-page {
  display: grid;
  border-style: solid;
  margin-right: 900px;
  background-color: burlywood;
}
.abc {
  margin-left: 100px;
  margin-bottom: 10px;
}
textarea {
  align-items: center;
  margin-left: 100px;
  margin-bottom: 10px;
}

.contact-page > button {
  width: 50px;
  margin-left: 220px;
  margin-bottom: 10px;
}
.def > p {
  margin-left: 100px;
}
h3 {
  margin-left: 100px;
}
